body { background-color: greenyellow
    ;}
h1{ color: blue;
text-align: center;}

#ima1 { margin-left: 25%;
border-width: 10px;
border-style: double;
border-color: green;
width: 50%;}

h2{ color: blue;
text-align: center;}